/*
    Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property
    - The "symbol *" part is to solve Firefox SVG sprite bug
 */
/* *:where(
    :not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)
  ) {
  all: unset;
  display: revert;
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: inherit;
  z-index: inherit;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  font-family: cursive;
  color: #654321;
  line-height: 1;
  background-image: linear-gradient(45deg, #fd7e14 5%, #ffd43b 95%);
}

button,
select {
  width: auto;
  padding: 0.6rem 1rem;
  background-color: transparent;
  border: 0.25rem solid #fff;
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  transition: 0.25s;
}

button {
  position: relative;
  border-radius: 1rem;
  box-shadow: 0 5px 0 0 rgba(0, 0, 0, 0.25);
}

button:active {
  top: 0.25rem;
  box-shadow: unset;
}

select {
  border-radius: 0.5rem;
}

button.btn-primary {
  font-size: 2rem;
}

img {
  display: block;
  max-width: 100%;
}

.input-group {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;
}

.container {
  max-width: 992px;
  display: flex;
  flex-wrap: wrap;
  margin: 2.5rem auto;
  cursor: url('../img/hammer.png') 0 50, auto;
}

.container:active {
  cursor: url('../img/hammer-rotate.png') 30 50, auto;
}

.title {
  font-size: 4rem;
  padding: 1rem;
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.5);
}

.text-center {
  text-align: center !important;
}

.d-none {
  display: none !important;
}

.popup,
.options {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 670;
}

.popup::before,
.options::before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
}

.popup-container,
.options-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
  text-align: center;
  background-image: linear-gradient(45deg, #fd7e14 5%, #ffd43b 95%);
  border: 1rem solid #6d4c41;
  border-radius: 2rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.25),
    0 0.5rem 0.5rem rgba(0, 0, 0, 0.22);
}

.popup-container {
  width: 48rem;
  height: 27rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.options-container {
  width: 30rem;
  padding: 2rem 2.5rem;
}

.difficulties {
  padding: 1rem 5rem;
}

.difficulty {
  position: relative;
  padding: 1rem 0;
  font-weight: bold;
  border: 0.3rem solid transparent;
  border-radius: 1rem;
  cursor: pointer;
  transition: 0.25s;
}

.difficulty:hover {
  border-color: #6d4c41;
  box-shadow: 0 5px 0 0 rgba(0, 0, 0, 0.25);
  transform: scale(1.1);
}

.difficulty:active {
  top: 0.5rem;
  box-shadow: unset;
}

#start {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

#start:active {
  top: 1.1rem;
}

#settings {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}

#settings:active {
  top: unset;
  bottom: 0.9rem;
}

.countdown {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 668;
}

.countdown::before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.75);
}

.countdown-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ccc;
  text-shadow: 0 0 0 8px #fff;
  z-index: 669;
  animation: countdown 1s ease;
}

#information {
  position: absolute;
  top: 1rem;
  left: 1rem;
  font-size: 1.5rem;
  line-height: 1.25;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
}

ul > li {
  list-style: none;
}

.dirt {
  width: 16rem;
  height: 15rem;
  position: relative;
  flex-basis: 33.33%;
  overflow: hidden;
}

.dirt::after {
  content: '';
  display: block;
  width: 100%;
  height: 6rem;
  margin: 0 auto;
  background: url(../img/tanah.png) no-repeat bottom center / contain;
  position: relative;
  top: 66.66%;
  z-index: 667;
}

.mole {
  width: 50%;
  height: 75%;
  position: absolute;
  top: 200px;
  left: 50%;
  transform: translateX(-50%);
}

.first-mole {
  background: url(../img/tikus.png) no-repeat bottom center / cover;
  z-index: 667;
}

.second-mole {
  background: url(../img/tikus2.png) no-repeat bottom center / contain;
  z-index: 666;
}

.mole-show-up .mole {
  top: 45px;
}

#extra-mole {
  position: absolute;
  bottom: 0;
  width: 30%;
  height: 75%;
  background: url('../img/tikus2.png') no-repeat center center / contain;
}

#extra-mole.mole-show-up {
  opacity: 1;
  z-index: 670;
  transition: left 1.5s linear, opacity 0.75s ease-in, z-index 0s;
}

#extra-mole.mole-hidden {
  opacity: 0;
  z-index: -1;
  transition: left 1.5s linear, opacity 0.75s ease-in, z-index 0s ease-in 0.75s;
}

@keyframes countdown {
  from {
    font-size: 20rem;
    opacity: 0;
  }
  to {
    font-size: 10rem;
    opacity: 1;
  }
}
